html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
}

.wrapper{
    border: solid black 3px;
    height: 84%;
    display:flex;
}

.outer{
    border: solid black 3px;
    height: 84%;
    display:flex;
}

.middle{
    border: solid black 3px;
    height: 84%;
    display:flex;
}

.center{
    border: solid black 3px;
    height: 84%;
    display:flex;
}