html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
}

.wrapper{
    box-sizing: border-box;
    border: solid black 3px;
    height: 100%;
    width: 100%;
    display:flex;
}

.outer{
    border: solid black 3px;
    box-sizing: border-box;
    height: 71.428571%;
    width: 71.428571%;
    position: relative;
    display:flex;
}

.outer:after {
    display: block;
}

.middle{
    border: solid black 3px;
    box-sizing: border-box;
    height: 42.857143%;
    width: 42.857143%;
    position: relative;
    display:flex;
}

.middle:after {
    display: block;
}

.center{
    border: solid black 3px;
    box-sizing: border-box;
    height: 14.285714%;
    width: 14.285714%;
    position: relative;
    display:flex;
}

.center:after {
    display: block;
}
