html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
}

.wrapper{
    border: solid black 3px;
    height: 100%;
    width: 100%;
    display:flex;
}

.outer{
    border: solid black 3px;
    height: 71.428571%;
    width: 71.428571%;
    display:flex;
}

.middle{
    border: solid black 3px;
    height: 42.857143%;
    width: 42.857143%;
    display:flex;
}

.center{
    border: solid black 3px;
    height: 14.285714%;
    width: 14.285714%;
    display:flex;
}